@charset "UTF-8";
/*här är allt allmänt som gäller för alla sidor*/


@font-face {
    font-family:montserrat;
    src: url(../fonts/montserrat.ttf);
    font-weight:normal;
    
}

@font-face {
    font-family:opensans;
    src: url(../fonts/opensans.ttf);
    font-weight:normal;
}

a{
    text-decoration:none;
}

li{
    font-family:opensans;
    font-size:0.95em;
}

select{
    width:10%;
    height:10%;
}

input{
    width:10%;
    height:10%;
}

h2{
    font-family:opensans;
    margin-top:0;
    margin-bottom:0;
    font-size:1.1em;
}

h3{
    font-family:opensans;
    margin-top:0;
    margin-bottom:0;
    font-size:1.1em;
}

p{
    font-family:opensans;
    margin-top:0;
    margin-bottom:0;
    font-size:0.9em;
}

section{
    padding:5px;
    border-radius:10px;
    background-color: var(--boxbakgrundfarg,#FFFFFF);
    border:3px solid var(--boxborderfarg,#de6052);
    box-shadow:1px 1px 5px black;
}
article{
    border-radius:10px;
    background-color:var(--boxbakgrundfarg,#FFFFFF);
    border:3px solid var(--boxborderfarg,#de6052);
    box-shadow:1px 1px 5px black;
}

footer{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border-radius:10px;
    background-color: var(--boxbakgrundfarg,#FFFFFF);
    border:3px solid var(--boxborderfarg,#de6052);
    box-shadow:1px 1px 5px black;
    font-size:0.8em;
}

aside{
    display:flex;
    border-radius:10px;
    background-color:var(--boxbakgrundfarg,#FFFFFF);
    border:3px solid var(--boxborderfarg,#de6052);
    flex-direction:column;
    box-shadow:1px 1px 5px black;
    
}

body{
    background-color:var(--bakgrundfarg,#c0392b);
    --kundfarg: #c0392b;
    --knappbakgrundfarg:#add8e6;
    --knappborderfarg:#6fa4b6;
    --bakgrundfarg: #c0392b; 
    --boxbakgrundfarg: #FFFFFF;
    --boxborderfarg:#de6052;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    grid-area: nv;
    border-radius:10px;
    background-color:var(--boxbakgrundfarg,#FFFFFF);
    border:3px solid var(--boxborderfarg,#de6052);

    font-family:montserrat;

    box-shadow:1px 1px 5px black;
}

button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100px;
    height:50px;
    font-size:1em;
    color:black;
    background-color:var(--knappbakgrundfarg,#add8e6);
    border-color: var(--knappborderfarg,#6fa4b6);
    border-radius:10px;
    transition-duration:0.4s;
    border-width:2px;
    box-shadow: 2px 4px 5px;
}

button:hover{
    background-color:whitesmoke;
}  

header{
    display:flex;
    grid-area:hd;
    justify-content:center;
    align-items:center;
    font-size:3em;
    color:white;
    text-shadow: 5px 0 5px #000, -5px 0 5px #000, 0 5px 5px #000, 0 -5px 5px #000,
    3px 3px 3px #000, -3px -3px 3px #000, 3px -3px 3px #000, -3px 3px 3px #000;


    font-family:montserrat;
}

/*här är allt specifikt för huvudsidan*/

div#indexwrapper{
    display:grid;
    gap:10px;
    margin:0%;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 50vw 1fr;
    grid-template-rows: 15vh 20vh 50vh 50vh 1fr;
    grid-template-areas: 
    'nv nv'
    'hd hd'
    'dv dv'
    'sc ac'
    'ft ac';

} 

img#speciellimg{
    object-fit:cover;
    width:25%;
    height:65.75%;
}

img.indexmainimg{
    object-fit:contain;
    width:25%;
    height:100%;
    
}

div#indexdiv{
    grid-area:dv;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

img#pro{
    object-fit:contain;
    width:100%;
    height:100%;
}

img.indeximg{
    width:50px;
    height:50px;
    object-fit:cover;
}

section#indexsection{ 
    padding:5px;
    display:flex;
    flex-direction:column;  
    grid-area:sc;
   
}

div#sectiondiv{
    display:flex;
    flex-direction:row;
    height:30%;
}

article#indexarticle{
    display:flex;
    grid-area:ac;
    flex-direction:column;
  
}

footer#indexfooter{
    display:flex;
    grid-area:ft;
    font-size:0.7em;
   
}

/*här är allt specifikt för kopsidan*/

div#kopwrapper{
    display:grid;
    gap:10px;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 25vw 25vw 25vw 1fr;
    grid-template-rows: 15vh 20vh 40vh 260vh 15vh;
    grid-template-areas: 
    'nv nv nv nv'
    'mn mn mn mn'
    'mn mn mn mn'
    'mn mn mn mn'
    'ft ft ft ft';

}

img.kopimg{
    object-fit: contain;
    width:80%;
    height:70%;
    margin:5%;
}

div.kopdiv{
    display:flex;
    width:97%;
    height:30%;
    flex-direction:column;
    justify-content:space-evenly;
}

article#koparticle{
    display:flex;
    width: var(--widthart,20vw);
    height: var(--heightart,65vh);
    align-items:center;
    flex-direction:column;
    justify-content:space-evenly;
    box-shadow: 2px 2px 7px;
    border:none;
    background-color:var(--boxbakgrundfarg,#FFFFFF);
}

main#kopmain{
    display:flex;
    grid-area:mn;
    flex-wrap:wrap;
    justify-content:space-evenly;
    flex-direction:row;
    align-items:center;
    --widthart: 20vw;
    --heightart: 65vh;


}

footer#kopfooter{
    display:flex;
    grid-area:ft;
}

/*här är allt specifikt för saljsidan*/

div#saljwrapper{
    display:grid;
    gap:10px;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 15vw 60vw 1fr;
    grid-template-rows: 15vh 20vh 50vh 1fr;
    grid-template-areas: 
    'nv nv nv'
    'hd hd hd'
    'as1 mn as2'
    'ft ft ft';

}

main#saljmain{
    display:flex;
    grid-area:mn;
    border-radius:10px;
    background-color:var(--boxbakgrundfarg,#FFFFFF);
    border:3px solid var(--boxborderfarg,#de6052);
    justify-content:space-evenly;
    align-items:center;
}

img#saljimg{
    object-fit:contain;
    width:100%;
    height:100%;
}

div#saljdiv{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    border:3px dotted grey;
    width:30%;
    height:30%;
    
}

aside#saljaside1{
    grid-area:as1;
}

aside#saljaside2{
    grid-area:as2;
}

footer#saljfooter{
    display:flex;
    grid-area:ft;
}