@charset "UTF-8";

@font-face {
    font-family:montserrat;
    src: url(../fonts/montserrat.ttf);
    font-weight:normal;
    
}


body{
    background-color:#c0392b;
}

div#wrapper{
    display:grid;
    gap:10px;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 50vw 1fr;
    grid-template-rows: 15vh 20vh 40vh 1fr;
    grid-template-areas: 
    'nv nv'
    'hd hd'
    'sc ac'
    'ft ft';

}

button{
    width:100px;
    height:50px;
    font-size:1em;
    color:black;
    border-radius:10px;
    background-color:#569DD7;
    border-color:black;
    transition-duration:0.4s;
    border-width:4px;
}

button:hover{
    background-color:whitesmoke;
}   

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    grid-area: nv;
    border-radius:10px;
    border:5px solid black;

    font-family:montserrat;
}

header{
    display:flex;
    grid-area:hd;
    justify-content:center;
    align-items:center;
    font-size:3em;
    color:black;

    font-family:montserrat;
}

section{
    display:flex;
    grid-area:sc;
    background-color:brown;
}

article{
    display:flex;
    grid-area:ac;
    background-color:forestgreen;
}

footer{
    display:flex;
    grid-area:ft;
    background-color:greenyellow;
}