div#wrapper{
    display:grid;
    gap:10px;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 50vw 1fr;
    grid-template-rows: 15vh 20vh 40vh 1fr;
    grid-template-areas: 
    'nv nv'
    'hd hd'
    'sc ac'
    'ft ft';

}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    grid-area: nv;
    background-color:grey;
}

header{
    display:flex;
    grid-area:hd;
    background-color:aqua;
}

section{
    display:flex;
    grid-area:sc;
    background-color:brown;
}

article{
    display:flex;
    grid-area:ac;
    background-color:forestgreen;
}

footer{
    display:flex;
    grid-area:ft;
    background-color:greenyellow;
}