body{
    background-color:#c0392b;
}

div#wrapper{
    display:grid;
    gap:10px;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 25vw 25vw 25vw 1fr;
    grid-template-rows: 15vh 20vh 40vh 260vh 15vh;
    grid-template-areas: 
    'nv nv nv nv'
    'hd hd hd hd'
    'as1 mn mn as2'
    '. mn mn .'
    'ft ft ft ft';

}

button{
    width:100px;
    height:50px;
    font-size:1em;
    border-radius:10px;
    background-color:#c0392b;
    border-color:black;
    transition-duration:0.4s;
}

button:hover{
    background-color:whitesmoke;
}  

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    grid-area: nv;
    background-color:grey;
}

header{
    display:flex;
    grid-area:hd;
    background-color:aqua;
}

aside#as1{
    display:flex;
    grid-area:as1;
    background-color:blueviolet;
}

main{
    display:flex;
    flex-wrap:wrap;
    grid-area:mn;
    justify-content:center;
    align-items:center;
}

aside#as2{
    display:flex;
    grid:as2;
    background-color:blanchedalmond;
}

footer{
    display:flex;
    grid-area:ft;
    background-color:greenyellow;
}