body{
    background-color:#c0392b;
}

div#wrapper{
    display:grid;
    gap:10px;
    min-height:100vh;
    min-width:100vh;
    grid-template-columns: 70vw 1fr;
    grid-template-rows: 15vh 20vh 40vh 1fr;
    grid-template-areas: 
    'nv nv'
    'hd hd'
    'mn as'
    'ft ft';

}

button{
    width:100px;
    height:50px;
    font-size:1em;
    border-radius:10px;
    background-color:#c0392b;
    border-color:black;
    transition-duration:0.4s;
}

button:hover{
    background-color:whitesmoke;
}   

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    grid-area: nv;
    background-color:grey;
}

header{
    display:flex;
    grid-area:hd;
    background-color:aqua;
}

main{
    display:flex;
    grid-area:mn;
    background-color:brown;
}

aside{
    display:flex;
    grid-area:as;
    background-color:forestgreen;
}

footer{
    display:flex;
    grid-area:ft;
    background-color:greenyellow;
}